<html>

<head>
    <meta http-equiv="refresh" content="3;url=https://qt.navigators.tech">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./shards.min.css">
</head>

<body>
    <h1>Redirecting you back to login in 3 seconds...</h1>
    <br> currentError.message
</body>
<!-- Figure out how to load this page from app.js-->


</html>