<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="shards.min.css">
</head>

<body>

    <h1>QT App</h1>

    <h3>Register</h3>
    <form action="/" method="post">
        <input type="text" name="email" placeholder="E-mail" required="">
        <input type="text" name="username" placeholder="Username" required="">
        <input type="password" name="password" placeholder="Password" required="">
        <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
        <input type="submit" value="REGISTER">
    </form>
    <h3>Login</h3>
    <form action="/" method="post">
        <input type="text" name="logemail" placeholder="E-mail" required="">
        <input type="password" name="logpassword" placeholder="Password" required="">
        <input type="submit" value="LOGIN NOW">
    </form>
    <a href="/auth/google">
        <img width="300px" height="200px" src="assets/Google Sign In Buttons/btn_google_signin_light_normal_web@2x.png">
    </a>

    <!-- <div id="init">
        <Description></Description>
    </div> -->

    <!-- <script src="https://unpkg.com/vue"></script>
    <script src='index.js'></script> -->

</body>

</html>