<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div id="init">
        <div class="mainSplash">
            <img v-show="showPic" :src="image" />
        </div>
        <h1>Testing Login Authentication
            <a :href="goThere">{{ header }}</a>
        </h1>
        <p>{{ description }}
            <br> you may wonder why I want to do this, its just for <p v-for="why in whys">{{ why }}</p>
        </p>
        <button @click="triggerPic">Show Picture or Not</button>
    </div>
    <h3>Register</h3>
    <form action="/" method="post">
        <input type="text" name="email" placeholder="E-mail" required="">
        <input type="text" name="username" placeholder="Username" required="">
        <input type="password" name="password" placeholder="Password" required="">
        <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
        <input type="submit" value="REGISTER">
    </form>
    <h3>Login</h3>
    <form action="/" method="post">
        <input type="text" name="logemail" placeholder="E-mail" required="">
        <input type="password" name="logpassword" placeholder="Password" required="">
        <input type="submit" value="LOGIN NOW">
    </form>

    <script src='index.js'></script>

</body>

</html>